*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Segoe UI' sans-serif;
    line-height: 1.5;
    color: #333;
}

header {
    background-color: #1e3a8a;
    color: white;
    padding: 50px 20px;
    text-align: center;

}

header img {
    display: flex;
    border-radius: 12px;
    margin: 10px;
    padding-left: 5px;
}

header .btn {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 25px;
    background-color: darkslategray;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.section {
  padding: 60px 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery img {
    width: 100%;
    max-width: 100px;
    margin: 20px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 10px;
  background: #1e40af;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #1d4ed8;
}

footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}

